.JField-Div {
	position: relative;
}
.JField-KeyValuePair-button {
	display: none;
	position: absolute;
	right: 0;
	top:0;
	z-index: 88;
}
.JField-Div:hover .JField-KeyValuePair-button  {
	display: block;
}
.JField-value-button {
	display: none;
	position: absolute;
	left: 0;
	top:30px;
	z-index: 88;
}
.JField-Div:hover .JField-value-button  {
	display: block;
}
